body {
  margin: 0;
  padding: 1em;
}

canvas#sem_canvas {
  background-color: rgba(50,50,50,1);
  max-width: 100%;
}

canvas#videoCanvas {
  position: absolute;
  left: 1em;
  z-index: 10;
  background-color:rgba(0,0,0,0);
}

html {
  /* avoid annoying page width change
  when moving from the home page */
  overflow-y: scroll;
}

div.outputSelector {
  margin: -1.3em 0 2em 0;
}

video {
  background: #222;
  /* margin: 0 0 20px 0; */
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}
