body {
  margin: 0;
  padding: 1em;
}

canvas#sem_canvas {
  background-color: rgba(50,50,50,1);
  max-width: 100%;
}

canvas#videoCanvas {
  position: absolute;
  left: 1em;
  z-index: 10;
  background-color:rgba(0,0,0,0);
}

html {
  /* avoid annoying page width change
  when moving from the home page */
  overflow-y: scroll;
}

div.outputSelector {
  margin: -1.3em 0 2em 0;
}

video {
  background: #222;
  /* margin: 0 0 20px 0; */
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decreasePoints #decreaseSem {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increasePoints #increaseSem {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

input#SEM_AVG #POINTS_AVG {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

