<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <title>WebCamera</title>

    <link rel="icon" type="image/png" href="../static/images/icon.png" sizes="192x192" />
    <link rel="stylesheet" href="../static/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
<div>
	<video playsinline autoplay="true" id="camera"></video>
	<canvas id="videoCanvas"></canvas>
</div>
	<canvas id="sem_canvas" width="20vw" height="20vw" ></canvas>
	<form>
		<label for="SEM_AVG">Numero di campioni utilizzati per il semaforo:</label><br>
		<div class="value-button" id="decreaseSem">-</div>
			<input readonly type="number" id="SEM_AVG" value="6" />
		<div class="value-button" id="increaseSem">+</div>
	</form>
	<form>
		<label for="POINTS_AVG">Numero di campioni utilizzati per le striscie:</label><br>
		<div class="value-button" id="decreasePoints">-</div>
			<input readonly type="number" id="POINTS_AVG" value="2" />
		<div class="value-button" id="increasePoints">+</div>
	</form>

</body>
</html>
